$desktop-width: 1279px;
$tablet-width: 919px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$Roboto: "Roboto", "Arial", sans-serif;

$dark-gray: #383736;
$gray: #989691;
$gray40: #f5f4f2;
$gray50: #f0eeeb;
$gray100: #e7e4de;
$gray300: #b2b0ab;
$blue: #2794db;
$red: #eb4b51;
$red20: #faf0f0;
$green: #64b851;
$green20: #f2faf0;
$yellow: #fac62d;
$yellow700: #f0b505;
$yellow800: #e1ab08;
$white: #ffffff;
$bg-color: #f5f4f2;
